//autoprefixer:off;

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root {
  --message-font-size: 3.5rem;
  --message-font-size-medium: 3rem;
  --font-family: 'Akaya Telivigala', cursive;
  --background-color-1: #2f3542;
  --primary-color: #f5f6fa;
  --box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  --box-shadow-active: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

$tab-large: 106.25em;
$tab-medium: 43.75em;
$tab-small: 31.25em;
$tab-very-small: 20.625em;

@mixin respond($tab) {
  @if $tab == tab-large {
    @media only screen and (max-width: $tab-large) {
      @content;
    }
  }
  @if $tab == tab-medium {
    @media only screen and (max-width: $tab-medium) {
      @content;
    }
  }
  @if $tab == tab-small {
    @media only screen and (max-width: $tab-small) {
      @content;
    }
  }
  @if $tab == tab-very-small {
    @media only screen and (max-width: $tab-very-small) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: var(--font-family);
  box-sizing: border-box;
  @include respond(tab-large) {
    font-size: 50%;
  }
}
body {
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  background-color: var(--background-color-1);
}

//Basic settings

%basic-settings {
  font-size: var(--message-font-size);
  color: var(--primary-color);
  @media only screen and (max-width: $tab-medium) {
    font-size: var(--message-font-size-medium);
  }
}

//Global Button CSS

.btn {
  font-family: var(--font-family);
  font-size: 2.3rem;
  border-radius: 10px;
  padding: 1.2rem 2rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.2s;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: var(--box-shadow-active);
  }
}

//Container
.container {
  display: grid;
  grid-template-rows: minmax(5rem, min-content) min-content repeat(
      2,
      1fr
    );
  grid-template-columns: repeat(
    8,
    [col-start] 1fr [col-end]
  );
  padding: 2rem;
  min-height: 100vh;
  @media only screen and (max-width: $tab-large) {
    grid-template-rows:
      minmax(5rem, min-content) min-content repeat(
        3,
        min-content
      )
      1fr;
    row-gap: 5rem;
  }
}

//Again Button

.again {
  grid-row: 1/2;
  grid-column: 1/2;
}

//General text

.general-text {
  grid-row: 1/2;
  grid-column: 8/-1;
  font-size: 2.5rem;
  color: var(--primary-color);
  @media only screen and (max-width: $tab-large) {
    grid-column: 7/-1;
    justify-self: end;
  }
  @media only screen and (max-width: $tab-large) {
    grid-column: 6/-1;
  }
  @media only screen and (max-width: $tab-small) {
    grid-column: 4/-1;
  }
  @media only screen and (max-width: $tab-very-small) {
    grid-column: 2/-1;
  }
}

//Title

.title {
  grid-row: 2/3;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 12rem;
  color: var(--primary-color);
  @media only screen and (max-width: $tab-large) {
    font-size: 8rem;
  }
  @media only screen and (max-width: $tab-medium) {
    font-size: 6rem;
  }
  @media only screen and (max-width: $tab-small) {
    font-size: 4rem;
  }
  @media only screen and (max-width: $tab-very-small) {
    font-size: 3rem;
  }
}

//Guess Number

.guessing-number {
  grid-row: 3/4;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 8rem;
  height: 15rem;
  width: 15rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  position: relative;
  box-shadow: var(--box-shadow);
  @media only screen and (max-width: $tab-medium) {
    margin-top: 0;
  }
  @media only screen and (max-width: $tab-very-small) {
    height: 8rem;
    width: 8rem;
    font-size: 4rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1rem;
    width: 100vw;
    background-color: var(--primary-color);
    z-index: -1;
  }
}

//Input Section

.user-input {
  grid-row: 4/-1;
  grid-column: 1/4;
  justify-self: center;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: $tab-medium) {
    grid-row: 5/-1;
    grid-column: 1/-1;
    align-self: start;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
    justify-self: stretch;
  }
  @media only screen and (max-width: $tab-small) {
    margin-top: 8rem;
  }
  @media only screen and (max-width: $tab-very-small) {
    align-self: center;
  }
  input {
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    outline: none;
    padding: 2rem;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    font-family: var(--font-family);
    @media only screen and (max-width: $tab-medium) {
      width: 20rem;
      height: 12rem;
      margin-right: 3rem;
      font-size: 6rem;
    }
    @media only screen and (max-width: $tab-very-small) {
      width: 15rem;
      height: 8rem;
      margin-right: 3rem;
      font-size: 4rem;
    }
  }
  .check {
    margin-top: 3rem;
    @media only screen and (max-width: $tab-medium) {
      margin-top: 0;
      align-self: center;
    }
  }
}

//Message Section

.message-section {
  grid-row: 4/-1;
  grid-column: 5/-1;
  justify-self: center;
  align-self: start;
  @media only screen and (max-width: $tab-medium) {
    grid-row: 4/-1;
    grid-column: 1/-1;
    justify-self: stretch;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // margin: 3rem 0;
  }
  @media only screen and (max-width: $tab-small) {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, 1fr);
    // row-gap: 3rem;
  }
  .guessing-msg {
    @extend %basic-settings;
    @media only screen and (max-width: $tab-small) {
      grid-row: 1/2;
      grid-column: 1/-1;
      justify-self: center;
    }
  }
  .score {
    @extend %basic-settings;
    @media only screen and (max-width: $tab-small) {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: start;
    }
    @media only screen and (max-width: $tab-very-small) {
      font-size: 2.2rem;
    }

    &-number {
      font-size: calc(var(--message-font-size) + 0.5rem);
    }
  }
  .high-score {
    @extend %basic-settings;
    @media only screen and (max-width: $tab-small) {
      grid-row: 2/3;
      grid-column: 2/-1;
      justify-self: end;
    }
    @media only screen and (max-width: $tab-very-small) {
      font-size: 2.2rem;
    }
    &-number {
      font-size: calc(var(--message-font-size) + 0.5rem);
    }
  }
}
